---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Sobre mi">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Sobre mi"
      description="Hola 👋 Soy una estudiante de Tercer año de Informática. Estoy aprendiendo mas acerca de la programación y base de datos, sistemas operativos y redes, y como dar soporte técnico a las maquinas. Me gusta esta carrera por que se aprende dia a dia de astro, tailwind, C++ , C, etc."
    />

    <img src="/assets/images/girl.jpg" class="relative z-30 w-full my-10 rounded-xl" />



    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Contactemonos</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
        Si quieres estar al día de mi trabajo no dejes de  <a
        href="https://github.com/melanieintriago"
        target="_blank"
        class="text-indigo-600 underline">seguirme en github.</a
      >
    </p>
  </section>
</Layout>
